<!DOCTYPE html>
{% load i18n %}{% autoescape off %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Headroom Email</title>
  </head>


  <body style="margin: 0; padding: 0; background-color: #f6f9fc">
    <table
      style="
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        border-spacing: 0;
        font-family: sans-serif;
        color: #09374b;
        border: 1px solid #dcebf4;
      "
      cellspacing="0"
      cellpadding="0"
      border="0"
    >
      <tbody style="box-shadow: 0px 1px 1px #dcebf4; background-color: white;">
        <tr>
          <td width="40" style="padding: 0 0 50px 0">
            <p style="border-bottom: 2px solid #f6f9fc; padding: 0">
              <img
                src="https://headroom-media-bucket-production.s3.eu-central-1.amazonaws.com/emailers/Logo_Headroom-01_Transparant.png"
                alt=""
              />
            </p>


            {% if user.avatar %}
            <div
              style="
                width: 44px;
                height: 44px;
                border-radius: 50%;
                margin-left: 32px;
                position: relative;
              "
            >
              <img
                src="{{user.avatar.url}}"
                style="
                  object-fit: cover;
                  width: inherit;
                  height: inherit;
                  border-radius: inherit;
                "
                alt=""
              />
            </div>
            {% else %}
            <table style="margin-left: 24px">
              <tr>
                <td
                  style="
                    background: #074f89;
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                    margin-left: 32px;
                  "
                >
                  <span
                    style="color: #ffffff; font-size: 14px; padding-left: 30%"
                    >{{user.first_name.0|upper}}{{user.last_name.0|upper}}</span
                  >
                </td>
              </tr>
            </table>
            {% endif %}
            <!-- <img style="padding-left: 32px" src="https://headroom-media.s3.us-east-2.amazonaws.com/emailers/c2ae06bf1a2f7c318f6388c8243cce59.png" alt=""> -->
            <p
              style="
                font-size: 16px;
                padding-left: 32px;
                color: rgba(9, 55, 75, 0.5);
              "
            >
              Dear
              <span style="color: #09374b; font-weight: 700; font-size: 16px"
                >{% if user.first_name %}{{user.fullname|title}}{% else %}{{user.email}}{% endif %},</span
              >
            </p>
            <p style="font-size: 16px; opacity: 0.5; padding-left: 32px">
              {% blocktranslate %}
                You're receiving this email because you requested a password reset for your user account at {{ site_name }}.
              {% endblocktranslate %}
            </p>
            <p
              style="
                font-size: 16px;
                padding-bottom: 24px;
                opacity: 0.5;
                padding-left: 32px;
              "
            >
              {% translate "Please go to the following page and choose a new password:" %}
            </p>
            {% block reset_link %}
            <a
              href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
              style="
                background: #fd5c63;
                width: 140px;
                height: 44px;
                text-decoration: none;
                padding: 14px;
                margin-left: 32px;
              "><span style="color: #ffffff">Password Reset</span></a>
            {% endblock %}
          </td>
        </tr>
        <tr style="background-color: #ecf2f7">
          <td style="padding-left: 32px; padding-bottom: 0px">
            <p style="font-size: 13px; opacity: 0.5; margin: 0px; padding-top: 24px;">
              Headroom,
            </p>
            <p style="font-size: 13px; opacity: 0.5; margin: 0px;">Herengracht 270
            <span style="float: right; padding-right: 24px; text-decoration: underline; display: none;"><a href="https://www.google.com" style="color:#fd5c63">Unsubscribe</a></span></p>
            <p style="font-size: 13px; opacity: 0.5; margin: 0px; padding-bottom: 24px;">1016 BW Amsterdam</p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
{% endautoescape %}
</html>
